canvas {
  background-color: black;
  border: solid #0095DD 5px;
  margin-top: 15px;
  
}
h1 {
  font-size: 40px;
  color: #0095DD;
  text-align: center;
  
}
input {
  margin-left: 674px;
  margin-top: 10px;
  
}
body {
  background-color: black;
}